.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
}

.imgWrapper {
  margin-top: 10px;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  position: relative;
}

.imgWrapper>img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
