/* обертка над всеми тегами */
.page {
  display: flex;
  flex-direction: column;
  /* 100 относительных единиц */
  /* высчитываются от видимой области по высоте */
  min-height: 100vh;
}

.header {
  width: 100%;
  background-color: orange;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.header > a:hover {
  text-decoration: underline;
}

.main {
  /* чтобы main занимал все свободное место если контента мало */
  padding: 20px 0;
  width: 100%;
  flex: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100%;
  background-color: lightgrey;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center
}

.active {
  text-decoration: underline;
}
