.header {
  width: 100%;
  background-color: orange;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > span {
  color: rgb(104, 50, 251);
  margin-right: 20px;
}


.header>a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}
