
.loginForm {
  display: flex;
  flex-direction: column;
}

.loginForm > input {
  margin-bottom: 3px;
}

.loginForm > button {
  background-color: rgb(255, 189, 66);
  border: none;
  border-radius: 3px;
}

.errors {
  color: red;
}
